* {
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
  font-family: "Courier";
  /* ADJUST FOR APPEARANCE: font-size, line-height */
  font-size: 14pt;
  line-height: 10pt;
}
canvas {
  display: block;
}
